# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules
/.pnp
.pnp.js
.mdx-data

# testing
/coverage

# next.js
/.next/
/out/

/studio/dist

# production
/build

# misc
.DS_Store
yarn-error.log

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env.local
.env.development.local
.env.test.local
.env.production.local

.vercel
.idea
.env
prisma/generated.schema.prisma