.cueplayer-react .cueplayer-react-cue-bar {
  display: none;
  width: 100%;
  position: absolute;
  bottom: 3em;
  left: 0;
  right: 0;
  height: 1.5em;
  background-color: #2b333f90;
}

.cueplayer-react-cue-bar .cueplayer-react-cue-note {
  position: absolute;
  height: 100%;
  width: 6px;
  background-color: gray;
  cursor: pointer;
}

.cueplayer-react-cue-bar .cueplayer-react-cue-note-active {
  background-color: orangered;
}

.cueplayer-react-cue-bar .cueplayer-react-cue-note-inactive {
  background-color: orange;
}

.cueplayer-react-has-started .cueplayer-react-cue-bar {
  display: flex;
  visibility: visible;
  opacity: 1;
}

.cueplayer-react .cueplayer-react-cue-popup {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: white;
  width: 10rem;
  min-height: 4rem;
  border-radius: 0.375rem;
  padding: 0.75rem;
  font-size: 0.75rem;
  color: black;
  border: 1px solid #9ca3af;
  transform: translateX(calc(-50% + 3px)) translateY(calc(-100% - 15px));
}

.cueplayer-react .cueplayer-react-cue-popup:before {
  content: '';
  position: absolute;
  bottom: -10px;
  left: calc(50% - 10px);
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 10px 0 10px;
  border-color: #ffffff transparent transparent transparent;
}
