@tailwind base;
@tailwind components;
@tailwind utilities;

code::before {
  content: none !important;
}

code::after {
  content: none !important;
}

mark {
  @apply bg-pink-100;
}

code {
  font-size: 80% !important;
}

pre > code {
  font-size: 90% !important;
}

pre {
  line-height: 1.5 !important;
}

#__next {
  @apply flex flex-col min-h-screen text-gray-900;
}

.bmpui-ui-watermark {
  display: none !important;
}

.bmpui-ui-titlebar {
  display: none;
}

/* Code block styles */

.prose pre {
  @apply sm:mx-0 -mx-5 sm:rounded-md rounded-none;
}

pre {
  @apply sm:mx-0 -mx-5 sm:rounded-md rounded-none;
}

#__next .prose-reset * {
  font-size: inherit !important;
  font-weight: inherit !important;
  margin: 0 !important;
  padding: 0 !important;
}

/*
  This will hide the focus indicator if the element receives focus via the mouse,
  but it will still show up on keyboard focus.
*/
.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

/* Algolia Pagination */

.ais-Pagination-link {
  @apply text-gray-700 border-gray-200 bg-gray-200 transition-all ease-out duration-150 !important;
}
.ais-Pagination-link:hover {
  @apply bg-gray-300 text-gray-800 !important;
}

.ais-Pagination-link--selected {
  @apply bg-blue-600 border-blue-600 text-white !important;
}
.ais-Pagination-link--selected:hover {
  @apply bg-blue-700 text-white !important;
}
.ais-ClearRefinements-button {
  @apply bg-transparent text-blue-600 text-sm !important;
}
